body {
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: white;
}

.btn-type1 {
    color: white;
    background: #0754A6;
    border-color: #0754A6;
    width: 176px;
    height: 40px;
}

.btn-type3 {
    width: 200px;
    height: 45px;
    color: White;
    border-color: white;
    background-image: none;
    background: #1E242B;
}

.btn-type2 {
    width: 176px;
    height: 40px;
    color: #0754A6;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #065DAD, #FF0000) 1;
}

.container {
    max-width: 1251px;
    margin: auto;
}

.pointer {
    cursor: pointer;
}

.flex {
    display: flex;
}

.aligncenter {
    align-items: center;
}

.spacebetween {
    justify-content: space-between;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

/* Номера в шапке */
.numbers {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
}

.numbers__span {
    font-weight: 400;
    margin: 0 10px;
}

.header__numbers {
    background: #F2F2F2;
}

/* Содержание шапки */
li.listBTN__item:not(:last-child), .SocialBtn__item:not(:last-child){
    margin-right: 10px;
}
.header_btn {
    width: 176px;
    height: 40px;
}

.Header__logo {
    max-width: 195px;
}

.header__inner {
    max-width: 1251px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}
.header__phones, .header__burger, .social_buttons, .banner__title2, .button__mobile,
.phone_icon, .Header__logoMobile{
    display: none;
}
.phone_icon{
    width: 45px;
}
ul.nav__list>.nav__item {
    display: inline;
    justify-content: space-between;
}

.header__nav {
    background: #0754A6;
}

.nav__item {
    margin-top: 19px;
    margin-bottom: 19px;
    color: white;
    text-decoration: none;
}
.nav{
    padding: 19px 0;
}
/* Интро */
.title__span {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #065DAD, #FF0000);
}

.banner {
    background: #1E242B;
    background-image: url(../assets/img/introimage.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 550px;
}

.banner__title {
    margin-bottom: 20px;
}

.banner__content {
    width: 50%;
    padding-top: 121px;
    display: table-cell;
    vertical-align: middle;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    color: white;
}

.intro_btn {
    margin-right: 15px;
    margin-top: 40px;
    width: 200px;
    height: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

/* Преимущества */
.advantages {
    background: #EBEBEB;
}

.advantages__list {
    padding: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

.advantages__item {
    width: 250px;
}

.advantage__title {
    margin: 0;
    margin-right: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
}

.advantage__subtitle {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.advantage__text {
    margin: 0;
    margin-top: 10px;
}

.title-blue {
    color: #0754A6;
}

/* доставка бетона в Перми */
.delivery-text {
    max-width: 838px;
}

.delivery__text {
    margin-top: 170px;
    margin-bottom: 160px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
}

.delivery__title {
    margin-right: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 54px;
}


/* Бетон в наличии */
.beton__grid{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    grid-auto-rows: 300px;
}
.beton__text{
    position: absolute;
    bottom: 0;
    padding: 50px 20px;
}
.beton__title{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 120%;
    color: black;
}
.beton__block{
    height: 100%;
}
.scale {
    display: inline-block;
    overflow: hidden;
}
.beton_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.beton {
    margin-bottom: 300px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
}

.scale img {
    transition: 1s;
    display: block;
}

.scale img:hover {
    transform: scale(1.2);
}

/* Видео */
.video {
    background: #1E242B;
    background-image: url(../assets/img/videoBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.video__title {
    width: 50%;
    height: 100%;
    padding-top: 150px;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 140%;
    color: #FFFFFF;
}

/* Новости */
.news {
    margin-top: 182px;
    margin-bottom: 247px;
}

.news_btn {
    width: 190px;
    height: 46px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.news__title {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
}

.news--block {
    position: relative;
}

.news--block {
    height: 100%;
}

.news-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    height: 100%;
}

.news__text {
    position: absolute;
    bottom: 0;
    padding: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}

.news__blockImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: 300px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-top: 50px;
}

.news-date {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
}

.news-item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
}

.news-item:nth-child(2) {
    grid-column: span 2;
}

/* Выполненные работы */
.works__btn {
    width: 190px;
    height: 46px;
}

.works {
    background: #1E242B;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.works__head {
    padding-top: 171px;
}

.works__img {
    margin: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.img__relative {
    position: relative;
}

.works__text {
    position: absolute;
    bottom: 0;
    padding: 15px;
}

.works__inner {
    padding-top: 60px;
    padding-bottom: 242px;
}

.works__item:nth-child(3) {
    grid-column: span 2;
}

.works__item:nth-child(4) {
    grid-column: span 2;
}
.works_img{
    width: 100%;
}
.map__title {
    padding-bottom: 90px;
    font-size: 34px;
    line-height: 120%;
}

/* Карта */
.map {
    background-image: url(../assets/img/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 618px;
}

/* подвал */
footer {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: white;
}

.footer-text {
    max-width: 326px;
    margin-right: 15px;
}

.nav_item {

    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.nav_item:not(:last-child) {
    padding-bottom: 20px;
}

.footer_nav {
    padding-right: 88px;
}

.footer__phones {
    padding-top: 86px;
}

.subs {
    margin-top: 32px;
}

.footer__social {
    margin-top: 15px;
}

.footer__blockOne {
    background: #1E242B;
    padding-top: 71px;
    padding-bottom: 91px;
}

.footer__blockTwo {
    background: #263240;
}

.footer__logo {
    margin-bottom: 33px;
}

.footer__icon {
    margin-right: 10px;
}

.byAmado {
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: flex-end;
}

.byAmado__text {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #CDCFD0;
    margin-right: 12px;
}

/* Адаптация */
@media screen and (max-width: 1199px) {
    .container {
        max-width: 960px;
        padding: 0 16px;
    }
    .beton__grid{
        grid-template-columns: 1fr 1fr;
    }
    .beton__item:nth-child(1) {
        grid-column: span 2;
    }
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .Header__logo{
        display: none;
    }
    .Header__logoMobile{
        display: block;
        margin-left: 15px;
        width: 84px;
    }
    .phone_icon{
        display: block;
        margin: 0 50px;
    }
    .video{
        background-position: center;
    }
    .video__title{
        padding-top: 30px;
        width: 100%;
        font-size: calc(100vw / 20);
    }
    .intro__inner{
        padding-top: 80px;
    }
    .header__listBTN img{
        width: 45px;
    }
    .header__inner{
        position: fixed;
        top: 0;
        background: white;
        max-width: 1199px;
        width: 100%;
        z-index: 10;
    }
    .SocialBtn__item img{
        width: 45px;
    }
    /* Бургер */
    .header__burger{
        position: relative;
        background: #0754A6;
        width: 80px;
        height: 80px;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: white;
        position: absolute;
        width: 40px;
        height: 5px;
        left: 20px;
        transition: all 0.3s ease 0s;
    }
    .header__burger span {
        content: '';
        position: absolute;
        background-color: white;
        width: 40px;
        height: 5px;
        top: 40px;
        left: 20px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 25px;
    }
    .header__burger:after{
        bottom: 20px;
    }

    .header__burger.active span{
        transform:scale(0);
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 40px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 35px;
    }
    .header__nav{
        overflow: scroll;
        background: white;
        position: fixed;
        top: -100%;
        width: 380px;
        height: 80%;
        z-index: 9;
        transition: all 0.3s ease 0s;
    }
    .header__nav.active{
        top: 80px;
    }
    .header__nav>.container{
        padding: 0;
    }
    .nav__item{
        margin: 0;
        padding: 9px;
        padding-left: 23px;
        color: black;
    }
    .nav{
        padding: 0;
    }
    .nav, .phone__list{
        display: block;
    }
    .nav .nav__item:hover{
        background-color: #0754A6;
        color: white;
    }
    .header__inner{
        margin: 0;
    }
    .header__phones, .header__burger{
        display: block;
    }
    .header__phones{
        padding:0 23px;
    }
    .phone__item{
        margin:27px 0;
    }
    .burger__mail{
        margin:27px 0;
    }
    .news__blockImg {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 420px 420px 353px;
    }
    .works__img{
        grid-template-columns: 1fr 1fr;
    }
    .news-item:nth-child(1) {
        grid-column: span 2;
        grid-row: span 1;
    }
    .footer__text{
        display: none;
    }
    .header__numbers, .header_btn{
        display: none;
    }
    .delivery__text{
        display: block;
        margin: 0;
        margin-top: 156px;
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 768px;
    }
    .works__text{
        display: none;
    }
    .video__title{
        padding-top: 30px;
        width: 80%;
        font-size: calc(100vw / 15);
    }
    .header__nav{   
        min-width: 50%;
        width: 80%;
    }
    .works__head{
        padding-top: 100px;
    }
    .news{
        margin-top: 100px;
    }
    .beton{
        margin-bottom: 161px;
    }
    .banner {
        background-position: 70% 0%;
        height: 921px;
    }
    .banner__content{
        padding-top: 590px;
        padding-left: 40px;
    }
    .banner__title{
        font-size: calc(100vw / 15);
    }
    .arrow__icon{
        width: 35%;
    }
    .banner__title br{
        display: none;
    }
    .title__span{
        margin-right: 15px;
    }
    .news-item:nth-child(1) {
        grid-column: span 2;
        grid-row: span 1;
    }
    .news-item:nth-child(2) {
        grid-column: span 2;
        grid-row: span 1;
    }
    /* Шрифты */
    .news__text{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
    }
    .news-date{
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
    }
    .beton__material{
        font-size: calc(100vw / 25);
    }
    .delivery__title{
        margin-bottom: 39px;
    }
    .phone_item:not(:last-child){
        margin-bottom: 30px;
    }
    .footer_nav {
        padding-right: 30px;
    }
    .button__mobile{
        display: block;
        margin-top: 60px;
        width: 100%;
        text-align: center;
    }
    .btn_desk{
        display: none;
    }
    .map__title{
        padding-bottom: 50px;
    }
}   
@media screen and (max-width: 680px){
    .phone_list, .footer__list{
     display: block;
    }
    .footer_item{
        margin-bottom: 15px;
    }
    .mail{
        margin-top: 62px;
    }
}
@media screen and (max-width: 540px) {
    .container {
        max-width: 100%;
    }
    .delivery__title{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
    }
    .news-text{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
    }
    .news-date{
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
    }
    .delivery-text{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
    }
    .map__title, .works__title, .news__title{
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
    }
    .video__title{
        padding-top: 30px;
        width: 100%;
        font-size: calc(100vw / 12);
    }
    .social_buttons{
        display: block;
    }
    .header__listBTN>.SocialBtn__item{
        display: none;
    }
    .advantages__list{
        display: block;
    }
    .advantages__item:not(:last-child){
        margin-bottom: 50px;
    }
    .banner__title{
        display: none;
    }
    .banner__title2{
        display: block;
        margin-bottom: 30px;
        font-size: calc(100vw / 11);
    }
    .banner__content{
        padding-left: 0;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
    }
    .banner__button{
        display: block;
        margin-top: 25px;
    }
    .intro_btn{
        margin: 0;
        margin-bottom: 15px;
    }
    .beton__grid{
        grid-template-columns: 1fr;
    }
    .beton__item:nth-child(1) {
        grid-column: span 1;
    }
    .beton__material{
        font-size: calc(100vw / 15);
    }
    .news__blockImg {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 228px);
    }
    .news-item:nth-child(1) {
        grid-column: span 1;
        grid-row: span 1;
    }
    .news-item:nth-child(2) {
        grid-column: span 1;
        grid-row: span 1;
    }
    .works__img{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 328px);
    }
    .works__item:nth-child(4) {
        grid-column: span 1;
    }
    .works__item:nth-child(3) {
        grid-column: span 1;
    }
    .works__item:nth-child(1), .works__item:nth-child(2), .works__item:nth-child(3) {
       display: none;
    }
   
}
