body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1251px;
    margin: auto;
}

.pointer {
    cursor: pointer;
}
.flex{
    display: flex;
}
.spacebetween{
    justify-content: space-between;
}
.list {
    list-style-type: none;
    padding: 0;
}
p,h1,h2,h3,h4,h5{
    margin: 0;
}
/* Номера в шапке */
.numbers {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
}

.numbers__span {
    font-weight: 400;
    margin: 0 10px;
}

.header__numbers>.container {
    display: flex;
    justify-content: space-between;
}

.header__numbers {
    background: #F2F2F2;
}

/* Содержание шапки */
ul.header__listBTN>li {
    display: inline;
    vertical-align: middle;
}

li.listBTN__item:not(:last-child) {
    margin-right: 10px;
}

.header_btn {
    width: 176px;
    height: 40px;
}

.Header__logo {
    max-width: 195px;
}

.header__inner {
    max-width: 1251px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.nav__list>.nav__item {
    display: inline;
    justify-content: space-between;
}

.header__nav{
    background: #0754A6;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav__item {
    margin-top: 19px;
    margin-bottom: 19px;
    color: white;
    text-decoration: none;
}

/* Интро */
.banner {
    background: #1E242B;
    background-image: url(../assets/img/introimage.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 550px;
}
.banner__title{
    margin-bottom: 20px;
}
.banner__content {
    width: 50%;
    padding-top: 100px;
    display: table-cell;
    vertical-align: middle;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    color: white;
}

.intro_btn {
    margin-top: 40px;
    width: 200px;
    height: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

/* Преимущества */
.advantages {
    background: #EBEBEB;
}

.advantage__flex {
    display: flex;
}

.advantages__list {
    padding: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.advantages__item {
    width: 250px;
}

.advantage__title {
    margin: 0;
    margin-right: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
}

.advantage__subtitle {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.advantage__text {
    margin: 0;
    margin-top: 10px;
}

.title-blue {
    color: #0754A6;
}

/* доставка бетона в Перми */
.delivery__text {
    display: flex;
    align-items: center;
}
.delivery-text{
    max-width: 838px;
}
.delivery__text {
    margin-top: 170px;
    margin-bottom: 160px;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
}

.delivery__title {
    margin-right: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 54px;
}


/* Бетон в наличии */
.beton-block{
    position: relative;
}
.beton__flex{
    display: flex;
}
.beton__title{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 120%;
    margin-bottom: 47px;
}
.beton__text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    position: absolute;
    bottom: 42px;
    left: 25px;
}
.beton__subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 49px;
}
.beton-text{
    margin-right: 10px;
}
.scale {
    display: inline-block;
    overflow: hidden;
}
ul.beton__list>.beton__item {
    display: inline;
    gap: 40px;
}
.beton__item:not(:last-child){
    margin-right: 20px;
}
.beton{
    margin-bottom: 90px;
}
.scale img {
    transition: 1s;
    display: block;
}
.scale img:hover {
    transform: scale(1.2);
}
/* Видео */
.video{
    background: #1E242B;
    background-image: url(../assets/img/videoBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.video__title{
    width: 50%;
    height: 100%;
    padding-top: 150px;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 140%;
    color: #FFFFFF;
}

/* Новости */
.news{
    margin-top: 182px;
    margin-bottom: 247px;
}
.news_btn{
    width: 190px;
    height: 46px; 
    font-style: normal;
    font-weight: 500;
    font-size: 18px;  
}
.news__title{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
}
.news--block{
    position: relative;
}
.news--block{
    height: 100%;
}
.news-img{
    height: 100%;
}
.news__text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}
.news__blockImg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-auto-rows: 300px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}
.news-date{
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
}
.news-item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
}
.news-item:nth-child(2) {
    grid-column: span 2;
}
/* Адаптация */
@media screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }
    .news__blockImg{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }
    .banner {
        background-position: 70% 75%;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: 100%;
    }
}